
//색상
$point-color1: #83FDC4;
$point-color2: #283180;
$bg-color: #171717;


// 미디어쿼리
$psd-pc-width:           1920px !default;
$psd-tablet-width:       1280px !default;
$psd-mobile-width:       650px !default;



