@import "../font/font";
@import "../util/util";


header {
  background-color: red;
  width: 100%;
  height: 100px;
}
.sec-kv {
    @include vw-pc(padding-top, 20, 1920);
    background-color: $point-color2;

    .group-top {
      .info-area {
        display: flex;
        flex-direction: column;
      }
      .cols-left {
        @include vw-pc(margin-top, 13, 1920);
      }
      .cols-right {
        display: flex;
        justify-content: space-between;
        position: relative;

        .info-area {
          @include vw-pc(margin-top, 13, 1920);
          @include vw-pc(margin-bottom, 90, 1920);
        }
        .copy-area {
          @include vw-pc(margin-top, 0, 1920);
        }
      }
    }
    .group-middle {
      position: relative;
      @include vw-pc(padding-bottom, 209, 1920);

      .cols-container {
        @include vw-pc(margin-top, 39, 1920);
      }
      .cols-right {
        position: relative;
        p {
          @include vw-pc(margin-top, 41, 1920);
        }
      }

      .scroll-wrap {
        position: absolute;
        @include vw-pc(right, 26, 1920);
        @include vw-pc(bottom, 30, 1920);
      }
      .scroll {
        display: flex;
        flex-direction: column;
        align-items: end;

        .stick {
          position: relative;
          @include vw-pc(width, 5, 1920);
          @include vw-pc(height, 48, 1920);
          background-color: rgba(255, 255, 255, 0.3);

          &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 0;
            @include vw-pc(width, 5, 1920);
            @include vw-pc(height, 24, 1920);
            background-color: $point-color1;
          }
        }
      }
    }
    .group-bottom {
      padding: 0;
      &.content {
        &:before {
          display: none;
        }
      }
    }

  @include break-point-max($psd-mobile-width - 1) {
    background-color: $point-color2;

    .group-top {
      .info-area {
        display: flex;
        flex-direction: column;
      }
      .cols-left {
        @include vw-pc(margin-top, 13);
      }
      .cols-right {
        display: flex;
        justify-content: space-between;
        .info-area {
          @include vw-pc(margin-top, 13);
          @include vw-pc(margin-bottom, 90);
        }
        .copy-area {
          @include vw-pc(margin-top, 13);
        }
      }
    }
    .group-middle {
      .cols-container {
        @include vw-pc(margin-top, 39);
        @include vw-pc(margin-bottom, 209);
      }
      .cols-right {
        position: relative;
        p {
          @include vw-pc(margin-top, 41);
        }
        .scroll {
          position: absolute;
          right: 0;
          bottom: 0;
          .stick {
            @include vw-pc(width, 5);
            @include vw-pc(height, 24);
            position: absolute;
            background-color: #ffffff;

            &:before {
              position: relative;
              left: 0;
              bottom: 0;
              width: 5px;
              height: 24px;
              @include vw-pc(width, 5);
              @include vw-pc(height, 24);
              background-color: #83FDC4;
            }
          }
        }
      }
    }
    .group-bottom {
      padding: 0;
      &.content {
        &:before {
          display: none;
        }
      }
    }
  }

}
.sec-1 {
  .content {
    &:before {
      display: none;
    }
  }
  .cols-left {
    margin-top: 30px;
  }
  .cols-right {
    display: flex;
    .inner {
      flex: 1;
      @include vw-pc(margin-top, 140, 1920);
      @include vw-pc(margin-bottom, 200, 1920);
      h3 {
        display: flex;
        flex-direction: column;
        span {
          &:first-child {
            color: #888E8B;
            @include vw-pc(margin-bottom, 8, 1920);
          }
        }
      }
      p {
        @include vw-pc(margin-top, 13, 1920);
      }
    }
  }
}
.sec-2 {
  .cols-left,
  .cols-right {
    @include vw-pc(margin-top, 30, 1920);
  }
  .cols-right {
    @include vw-pc(margin-bottom, 100, 1920);
    figure {
      width: 100%;
      //aspect-ratio: 16 / 9; /* 비율 유지, 필요시 수정 */
      border-radius: 15px; /* 모서리를 둥글게 */
      overflow: hidden; /* 이미지가 figure 밖으로 나가지 않도록 */

      img {
        object-fit: cover;
      }
    }
  }
}
.sec-3 {
  .cols-container {
    @include vw-pc(margin-top, 30, 1920);
  }
  table {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include vw-pc(margin-bottom, 81.5, 1920);
    tr {
      display: flex;
    }
    td {
      @include vw-pc(padding-left, 20, 1920);
    }
    span {
      display: block;
    }
  }
  thead {
    width: 100%;
    @include vw-pc(padding-bottom, 22, 1920);
    @include vw-pc(margin-bottom, 15, 1920);

    border-bottom: 5px solid rgba(255, 255, 255, 0.1);
    th {
      display: flex;
      @include vw-pc(padding-left, 20, 1920);
      &:nth-child(1) {width: 34.91%;}
      &:nth-child(2) {width: 46.67%;}
      &:nth-child(3) {width: 18.42%;}

      @include vw-pc(font-size, 14, 1920);
      line-height: 2.57140;
    }
  }
  tbody {
    td {
      @include vw-pc(padding-top, 18.5, 1920);
      @include vw-pc(padding-left, 20, 1920);
      @include vw-pc(padding-bottom, 18.5, 1920);
      &:nth-child(1) {width: 16.67%}
      &:nth-child(2) {width: 18.33%}
      &:nth-child(3) {width: 46.75%}
      &:nth-child(4) {width: 18.33%}

      @include vw-pc(font-size, 14, 1920);
      line-height: 2.57140;
    }
  }
  .sub-title {
    width: 100%!important;
    background-color: $point-color1;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }


}
.sec-4 {
  .cols-left {
    @include vw-pc(margin-top, 22, 1920);
  }
  h3 {
    margin-top: 20px;
  }
  ul {
    display: flex;
    @include vw-pc(gap, 21, 1920);
    @include vw-pc(margin-top, 40, 1920);

    &.connect-list {
      @include vw-pc(margin-bottom, 104, 1920);
    }

    li {
      aspect-ratio: 1/1;
      width: 22.63%;
      height: 22.63%;

      figure {
        @include vw-pc(border-radius, 10, 1920);
        background-color: $point-color2;
        display: grid;
        place-items: center;
      }
      strong {
        display: block;
        padding: 10px;
        @include vw-pc(padding, 10, 1920);
      }

      img {
        &.ai {
          @include vw-pc(width, 181.45, 1920);
          @include vw-pc(height, 162.69, 1920);
        }
        &.startup {
          @include vw-pc(width, 121.49, 1920);
          @include vw-pc(height, 168.25, 1920);
        }
        &.recycling {
          @include vw-pc(width, 158.7, 1920);
          @include vw-pc(height, 163.25, 1920);
        }
        &.green {
          @include vw-pc(width, 139.61, 1920);
          @include vw-pc(height, 144.42, 1920);
        }
        &.esg {
          @include vw-pc(width, 199.7, 1920);
          @include vw-pc(height, 161.44, 1920);
        }
      }

    }

  }
}
.sec-5 {
  .cols-container {
    @include vw-pc(margin-bottom, 100, 1920);
  }
  .cols-left {
    h2 {
      @include vw-pc(margin-top, 24, 1920);
    }
  }
  .cols-right {
    display: flex;
    @include vw-pc(gap, 20, 1920);

    .inner {
      flex: 1;
      h3 {
        @include vw-pc(margin-top, 32, 1920);
      }
      address {
        @include vw-pc(margin-top, 27, 1920);
      }
      .btn-wrap {
        @include vw-pc(margin-top, 39, 1920);
        button {
          display: block;
          @include vw-pc(width, 257, 1920);
          @include vw-pc(height, 84, 1920);
          border: 1px solid $point-color1;
          border-radius: 50px;
        }
      }
    }
    figure {
      flex: 1;
      width: 100%;
      @include vw-pc(height, 427, 1920);
      @include vw-pc(border-radius, 15, 1920);
      overflow: hidden;
      @include vw-pc(margin-top, 15, 1920);
      img {
        object-fit: cover;
      }
    }
  }
}
.sec-6 {
  .cols-container {
    h2 {
      @include vw-pc(margin-top, 24, 1920);
    }
    ul {
      @include vw-pc(margin-bottom, 100, 1920);
    }
    li {
        border-bottom: 2px solid #343434;
    }
    .txt-wrap {
      @include vw-pc(padding-top, 24, 1920);
      @include vw-pc(padding-bottom, 24, 1920);
    }

  }
}
.sec-7 {
  background-color: $point-color2;
  color: #fff;
  @include vw-pc(padding-bottom, 213, 1920);

  .content {
    &:before {
      display: none;
    }
  }
  .cols-left {
    position: relative;
    z-index: 1;

    span {
      position: absolute;
      top: 0;
      left: -50%;
      @include vw-pc(font-size, 840, 1920);
      line-height: 0.8;
      writing-mode: vertical-rl; /* 텍스트를 세로로 표시 */
      color: #404BAA;
    }
  }
  .cols-right {
    position: relative;
    z-index: 2;

    h2 {
      @include vw-pc(padding-bottom, 40, 1920);
      border-bottom: 6px solid #3578FA;
    }

    .group-top {
      @include vw-pc(margin-top, 80, 1920);

      strong {
        display: block;
      }
      p {
        @include vw-pc(margin-top, 20, 1920);
      }
    }
    .group-bottom {
      @include vw-pc(margin-top, 90, 1920);

      .txt-area {
        span {
          display: block;
        }
      }
      .txt-box-1 {
        @include vw-pc(padding-top, 40, 1920);
      }
      .again-area {
        @include vw-pc(margin-top, 90, 1920);
      }
      .again-list {
        display: grid;
        @include vw-pc(gap, 20, 1920);
        grid-template-columns: repeat(2,1fr);
        @include vw-pc(margin-top, 40, 1920);

        li {
          &:first-child {
            grid-column: 1 / -1;
            width: 100%;
          }
          a {
            display: block;
          }
          p {
            @include vw-pc(padding-top, 20, 1920);
            @include vw-pc(padding-top, 30, 1920);
            @include vw-pc(padding-top, 20, 1920);
          }
          figure {
            border: 10px;
            border-radius: 15px; /* 모서리를 둥글게 */
            overflow: hidden; /* 이미지가 figure 밖으로 나가지 않도록 */

          }
        }

      }

    }
  }
}



