//@import "../font/font";
@import "../util/var";
@import "../util/util";


.sec-kv {
  //1281
  @include break-point-min($psd-tablet-width) {
    padding-top: calc-vw-desktop(20px);
    background-color: $point-color2;

    .group-top {
      .info-area {
        display: flex;
        flex-direction: column;
      }
      .cols-left {
        margin-top: 13px;
      }
      .cols-right {
        display: flex;
        justify-content: space-between;
        .info-area {
          margin-top: 13px;
          margin-bottom: 90px;
        }
        .copy-area {
          margin-top: 13px;
        }
      }
    }
    .group-middle {
      .cols-container {
        margin-top: 39px;
        margin-bottom: 209px;
      }
      .cols-right {
        position: relative;
        p {
          margin-top: 41px;
        }
        .scroll {
          position: absolute;
          right: 0;
          bottom: 0;
          .stick {
            width: 5px;
            height: 24px;
            position: absolute;
            background-color: #ffffff;

            &:before {
              position: relative;
              left: 0;
              bottom: 0;
              width: 5px;
              height: 24px;
              background-color: #83FDC4;
            }
          }
        }
      }
    }
    .group-bottom {
      padding: 0;
      &.content {
        &:before {
          display: none;
        }
      }
    }
  }
  //651 ~ 1280
  @include break-point-between($psd-mobile-width,$psd-tablet-width - 1) {}
  //650
  @include break-point-max($psd-mobile-width - 1) {}

}
.sec-1 {
  .content {
    &:before {
      display: none;
    }
  }
  .cols-left {
    margin-top: 30px;
  }
  .cols-right {
    display: flex;
    .inner {
      flex: 1;
      margin-top: 140px;
      margin-bottom: 200px;
      h3 {
        span {
          display: block;
        }
      }
    }
  }
}
.sec-2 {
  .cols-left,
  .cols-right {
    margin-top: 30px;
  }
  .cols-right {
    margin-bottom: 100px;
    figure {
      width: 100%;
      //aspect-ratio: 16 / 9; /* 비율 유지, 필요시 수정 */
      border-radius: 15px; /* 모서리를 둥글게 */
      overflow: hidden; /* 이미지가 figure 밖으로 나가지 않도록 */

      img {
        object-fit: cover;
      }
    }
  }
}
.sec-3 {
  .cols-container {
    margin-top: 30px;
  }
  table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 81.5px;
    tr {
      display: flex;
    }
    td {
      padding-left: 20px;
    }
    span {
      display: block;
    }
  }
  thead {
    width: 100%;
    padding-bottom: 22px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.1);
    th {
      display: flex;
      padding-left: 20px;
      &:nth-child(1) {width: 34.91%;}
      &:nth-child(2) {width: 46.67%;}
      &:nth-child(3) {width: 18.42%;}
    }
  }
  tbody {
    td {
      padding: 18.5px 0 20px 18.5px;
      &:nth-child(1) {width: 16.67%}
      &:nth-child(2) {width: 18.33%}
      &:nth-child(3) {width: 46.75%}
      &:nth-child(4) {width: 18.33%}
    }
  }
  .sub-title {
    width: 100%!important;
    background-color: $point-color1;
    color: #000;
  }


}
.sec-4 {
  .cols-left {
    margin-top: 22px;
  }
  h3 {
    margin-top: 20px;
  }
  ul {
    display: flex;
    //display: grid;
    //grid-template-columns: repeat(3,1fr);
    gap: 21px;
    margin-top: 40px;

    &.connect-list {
      margin-bottom: 104px;
    }

    li {
      aspect-ratio: 1/1;
      width: 22.63%;
      height: 22.63%;

      figure {
        border-radius: 10px;
        background-color: $point-color2;
        display: grid;
        place-items: center;

        img{
          width: 70.33%;
          height: 70.33%;
        }
      }
      strong {
        display: block;
        padding: 10px;
      }
    }
  }
}

.sec-5 {
  .cols-container {
    margin-bottom: 100px;
  }
  .cols-left {
    h2 {
      margin-top: 24px;
    }
  }
  .cols-right {
    display: flex;
    gap: 20px;

    .inner {
      flex: 1;
      h3 {
        margin-top: 32px;
      }
      address {
        margin-top: 27px;
      }
      .btn-wrap {
        margin-top: 39px;
      }
    }
    figure {
      flex: 1;
      width: 100%;
      height: 427px;
      border-radius: 15px;
      overflow: hidden;
      margin-top: 15px;
      img {
        object-fit: cover;
      }
    }
  }
}
.sec-6 {
  .cols-container {
    h2 {
      margin-top: 24px;
    }
    li {
      & + li {
        border-top: 2px solid #343434;
      }
    }
    .txt-wrap {
      padding: 24px 0;
    }

  }
}
.sec-7 {
  background-color: $point-color2;
  color: #fff;
  padding-bottom: 213px;

  .content {
    &:before {
      display: none;
    }
  }
  .cols-left {
    position: relative;
    z-index: 1;

    span {
      position: absolute;
      top: 0;
      left: -50%;
      font-size: 840px;
      line-height: 0.8;
      writing-mode: vertical-rl; /* 텍스트를 세로로 표시 */
      color: #404BAA;
    }
  }
  .cols-right {
    position: relative;
    z-index: 2;

    .group-top {
      margin-top: 80px;

      strong {
        display: block;
      }
      p {
        margin-top: 20px;
      }
    }
    .group-bottom {
      margin-top: 90px;

      .txt-area {
        span {
          display: block;
        }
      }
      .txt-box-1 {
        padding-top: 40px;
      }
      .again-area {
        margin-top: 90px;
      }
      .again-list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
        margin-top: 40px;

        li {
          &:first-child {
            grid-column: 1 / -1;
            width: 100%;
          }
          a {
            display: block;
          }
          p {
            padding: 20px 30px 20px 0;
          }
        }

      }

    }
  }
}



