//@import "../font/font";
@import "../util/var";
@import "../util/util";

.footer {
  position: relative;
  z-index: 4;
  width: 100%;

  .footer-inner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 22px;
  }


  a {
    display: block;
  }

  .link-list {
    display: flex;
    justify-content: center;
    @include vw-pc(gap, 20, 1920);
    @include vw-pc(margin-top, 60, 1920);

    li {
      display: grid;
      place-items: center;
      @include vw-pc(width, 398, 1920);
      @include vw-pc(height, 140, 1920);
      border: 1px solid #ffffff;
      border-radius: 20px;
    }
  }

  .group-bottom {
    display: flex;
    justify-content: space-between;
    @include vw-pc(margin-top, 150, 1920);
    @include vw-pc(padding-bottom, 60, 1920);
  }
}
